footer {
  margin-top: 0;
  position: relative;
  top: 32vh;
 
}

.name {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20vh;
  color: white;
  font-family: Inconsolata;
}
.name img,.address img{
  width: 3%;
  margin: 2vw;
}
.address img{
  position: relative;
  left: -1.8em;
}
.saddress{
  position: relative;
  left: -1.8em;
}
.saddress h1,.sname h1{
  font-weight: bold;
  color: rgb(133, 117, 214);
  font-family: Inconsolata;
}
.address{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  color: white;
  font-family: Inconsolata;
}

.created {
  width: 100%;
  color: white;
  text-align: center;
  padding: 1vw;
  margin-top: 2vh; 
  position: relative;
  bottom: 0;
  top: 30vh;
  font-size: 1vw;
  background: rgb(102, 135, 135);
}
.contactme{
  color: bisque;
  display: flex;
  justify-content: center;
  font-family: Inconsolata;
  font-weight: bold; 
  font-size: 2vw;
  position: relative;
  top: 10vh;
}
.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1em 0;
  background-color: rgb(44, 57, 58);
 
}

.card {
  display: flex;
  height: 8vh;
  width: 100%; 
  max-width: 350px; 
  position: relative;
  margin: 0 auto; 
  justify-content: space-between;
 

}

.instagram-icon {
  width: 50px;
  height: 50px;
  background: url('images/instagram (3).png')  center/50px 50px; 
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
}
.instagram-icon:hover {

  transform: scale(1.2); 
  background: url('images/instagram (1).png')  center/cover; 
}

.github-icon {
  width: 35px;
  height: 35px;
  position: relative;
  top : 1vh;
  background: url('images/github.png')  center/35px 35px; 
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
}
.github-icon:hover {
  transform: scale(1.2); 
  background: url('images/github\ \(1\).png') center/cover; 
}


.linkdin-icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 1vh;
  background: url('images/linkedin.png') center/30px 30px; 
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
}
.linkdin-icon:hover {
  transform: scale(1.2); 
  background: url('images/linkedin\ \(1\).png') center/cover; 
}


.discord-icon {
  width: 50px;
  height: 50px;
  background: url('images/discord.png') center/50px 50px; 
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
}
.discord-icon:hover {
  transform: scale(1.2); 
  background: url('images/discord\ \(1\).png') center/cover; 
}


.mail img {
  height: 2em;
  position: relative;
  right: 0;
  left: 4vw;
}

@media (max-width: 768px) {
  .mail img {
    right: 0;
    left: 5vw;
    height: 1.5em;
  }

  .card {
    display: flex;
    height: 3vh;
    width: 100%; 
    max-width: 50vw;
    position: relative;
    margin: 0 auto;
  }
   .instagram-icon{
    width: 30px;
    height: 30px;
    background: url('images/instagram (3).png')  center/30px 30px; 
   }
    .github-icon{
      width: 20px;
      height: 20px;
      top : 0.7vh;
      background: url('images/github.png')  center/20px 20px; 
    }
    .linkdin-icon {
      width: 20px;
      height: 20px;
      position: relative;
      top: 0.4vh;
      background: url('images/linkedin.png') center/20px 20px; 
}
.discord-icon{
  width: 30px;
  height: 30px;
  background: url('images/discord.png')  center/30px 30px; 
 }

}

@media(max-width:750px){


  .contactme{
    color: bisque;
    display: flex;
    justify-content: center;
    font-family: Inconsolata;
    font-weight: bold; 
    font-size: 5vw;
    position: relative;
    top: 10vh;
  }
  
.name {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20vh;
  color: white;
  font-family: Inconsolata;
}
.name img,.address img{
  width: 10%;
  margin: 4vw;
}
.address img{
  position: relative;
  left: -1.8em;
}
.saddress{
  position: relative;
  left: -1.8em;
}
.saddress h1,.sname h1{
  font-weight: bold;
  color: rgb(133, 117, 214);
  font-family: Inconsolata;
}
.address{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  color: white;
  font-family: Inconsolata;
}
.contact{
  background: rgb(133, 173, 175);
}
}
  