.button1 {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 16px;
  font-family: Inconsolata;
  font-weight: bold;
  letter-spacing: 0.2vw;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 2em;
  z-index: 1;
}

.button1:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.button1:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.button1:hover::before {
  filter: blur(20px);
}

.button1:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}



@media (max-width : 750px) {
  
  .button1 {
    text-decoration: none;
    position: relative;
    border: none;
    font-family: Inconsolata;
    left: 10vw;
    top: 5vh;
    font-size: 2vh;
   width: 25vw;
   height: 5vh;
   line-height: 2em;
   text-align: center;
   font-weight: bold;
  letter-spacing: 0.2vw;
       }

}