body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.5s;
 
}

@media only screen and (max-width: 600px) {
.firstpart {
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 10px;
}
}

.firstpart {
height: 50em;
}
#id1 {
  background-color: transparent;
  padding: 30px;
  justify-content: center;

}


#idlogo {
  position: absolute;
  top: 30px;
  left: 10%;
  bottom: 100%;
}
#idnavi {
  position: absolute;
  top: 30px;
  right: 10%;
  bottom: 100%;
  justify-content: space-between;
  border-radius: 20px;

}

#idnavi a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-right: 30px;
  font-family:Inter ;
}

.startpage {
  padding: 20%;
}
.text-1 {
  font-family:Inconsolata;
  color: black;
  font-weight: bold;
  font-size: 40px;
}
.text-2 {
  font-family: Inconsolata;
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.text-3 {
  font-family: Inconsolata;
  color: rgb(9, 1, 65);
  font-weight: bold;
  font-size: 40px;
  padding: 30px;
 position:absolute;
 padding-left: 6em;

}

.project {
 
  position: absolute;
  left: 30%;
  top: 80%;
}

