.techst {
    font-family: Inconsolata;
    font-size: 4vw;
    color: rgb(69, 132, 132);
    opacity: 1; 
    font-weight: bold;
    position: relative;
    top: -15vh;

}
.pl {
    font-family: Inconsolata;
    opacity: 1;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    color: #63cbbb;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
