
.sect2 {
        height: 220vh;
        width: 100%;
        display: grid;
        place-items: center;
        min-height: 100vh;
      
          }

.techst {
    font-family: Inconsolata;
    font-size: 4vw;
    color: #63cbbb;
    opacity: 1; 
    font-weight: bold;
    position: relative;
    bottom: 65vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: inline-block; 
}

.techst h1:after {
    content: "";
    display: block;
    position:absolute;
    bottom: 6vh;
    width: 180%;
    height: 2px;
    margin-left: 22vw;
    background-color: #29292c;
}
.techst h1:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 6vh;
    width: 180%;
    height: 2px;
    margin-left: -38vw;
    background-color: #29292c;
}


.pl {
    font-family: Inconsolata;
    opacity: 1;
    position: relative;
    bottom: 50vh;
    font-size: 2vw;
    font-weight: bold;
    color: #a8b2d1;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.dt {
    font-family: Inconsolata;
    opacity: 1;
    position: relative;
    bottom: 25vh;
    font-size: 2vw;
    font-weight: bold;
    color: #a8b2d1;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.fw {
    font-family: Inconsolata;
    opacity: 1;
    position: relative;
    bottom: 5vh;
    font-size: 2vw;
    font-weight: bold;
    color: #a8b2d1;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.db {
    font-family: Inconsolata;
    opacity: 1;
    position: relative;
    bottom: -5vh;
    font-size: 2vw;
    font-weight: bold;
    color: #a8b2d1;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.ml {
    font-family: Inconsolata;
    opacity: 1;
    position: relative;
    bottom: -15vh;
    font-size: 2vw;
    font-weight: bold;
    color: #a8b2d1;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}



.ts img {
    position: relative;
    width: 5vw;
    top: 5vh;
    margin: 5vh;
   

 
}
.ts {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
}
.imagee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 40vh;
}
.imagee2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 20vh;
}
.imagee3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 5vh;
}
.imagee4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: -5vh;
}
.imagee5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: -15vh;
}



@media (max-width : 500px) {

    .sect2 {
        height: 220vh;
        width: 100%;
        display: grid;
        place-items: center;
        min-height: 100vh;
        position: relative;
        bottom: -50vh;
        top: 20vh;
      
          }
    .ts {
        position: relative;
        top : -35vh;
    }
    .techst {
        position: relative;
        bottom: 15vh;
        font-size: 10vw;

    }

    .pl {

        bottom: 5vh;
        font-size: 6vw;

    }
    .dt {

        bottom: -5vh;
        font-size: 6vw;

    }
    .fw {

        bottom: -15vh;
        font-size: 6vw;

    }
    .db {

        bottom: -25vh;
        font-size: 6vw;

    }
    .ml {

        bottom: -35vh;
        font-size: 6vw;

    }



    .ts img {
        width: 10vw;
    }

    .imagee {
       
        
        bottom: 5vh;
    }
    .imagee2 {
       
        
        bottom: -5vh;
    }
    .imagee3 {
        
        bottom: -15vh;
    }
    .imagee4 {
        
        bottom: -25vh;
    }
    .imagee5 {
        
        bottom: -35vh;
    }


    .techst h1:after {
        
        bottom: 3vh;
        width: 20vw;
        height: 2px;
        margin-left: 52vw;
       
    }
    .techst h1:before {
       
        
        bottom: 3vh;
        width: 20vw;
        height: 2px;
        margin-left: -22vw;
       
    }
}